/*div {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin-bottom: 3px;*/
/*    background: #090909;*/
/*}*/
/*div:nth-child(4){*/
/*background: #9f0522;*/
/*}*/
/*div:nth-child(4), div:nth-child(6){*/
/*    background: #9f0522;*/
/*}*/

/*.box:nth-child(2n){*/
/*    background: #9f0522;}*/
/*.brd-r-10{*/
/*    border-radius: 10px;*/
/*}*/
.bg-blue-base {
    background: #0095ff;
}
.h500 {
    height: 500px;
}
.h1500 {
    height: 1500px;}

.w750 {
    width: 19.5%;
}
.w550 {
    width: 12.7%;
}
.w1650{
    width: 40%;
}
.bg-d-blu-base{
    background: #183146;

}
.f-s {
    font-size: 500%;
}.t-w {
    color: #dadce0;
 }
 .t-d
 {
     justify-content: center;
     align-items: center;
 }
.box1, .box2, .box3 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 200%;
    margin: 20px;
    justify-content: start;
    align-items: center;
}

.box1>div, .box2>div, .box3>div {
    box-sizing: border-box;
    color: aliceblue;
    justify-content: center;
    font-size: 200%;
    align-items: center;
    margin: 10px;
}
