h1 {
    background: silver;
}
.benefits-1
{
    background: #f3aa20;
}
ul.benefits-2 {
    background: #9f0522;
}
#xxx {
    background: #105408;
}
.target>p {
    background: #2a79bb;
}
.target p {
    font-style: oblique;
}
.xxx {
width: 200px;
    background: #82c9e7;
}
.yyy {
  height: 300px;
    border-radius: 20px;
}
.zzz {
    height: 100px;
}
/*div {*/
/*    border:1px solid #090909;*/
/*}*/
div.xxx.zzz {
    border:1px solid #090909;
}
p.xxx.zzz.
{
    background: #059f12;
}
div, .xxx, .zzz {
    box-sizing: border-box;
}
