/*div {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin-bottom: 3px;*/
/*    background: #090909;*/
/*}*/
/*div:nth-child(4){*/
/*background: #9f0522;*/
/*}*/
/*div:nth-child(4), div:nth-child(6){*/
/*    background: #9f0522;*/
/*}*/

/*.box:nth-child(2n){*/
/*    background: #9f0522;}*/
/*.brd-r-10{*/
/*    border-radius: 10px;*/
/*}*/
.bg-red-base {
    background: red;
    margin: 10px;
}
.h200 {
    height: 200px;
}
.w250 {
    width: 250px;
}
.w300{
    width: 300px;
}
.bg-dark-base{
    background: #2a79bb;
    margin: 20px;
}
.round {
    border-radius: 50%;
}
    .grid-3-3 {
        display: flex;
        flex-wrap: wrap;
    }

.grid-3-3>div {
    margin-left: 5%;
    margin-right: 5%;

}