.container1 {
    background: #e6ebee;
    display: flex;
    margin: 20px ;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 33%;


}

.container2 {
    display: flex;
    margin: 20px;
    background:#e6ebee;
    width: 100%;
    height: 33%;
    flex-direction: row;

}
.container3
{
    background: #e6ebee;
    display: flex;
    margin: ;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1900px;
    height: 1500px;
}
.contaier4> div {
    display: flex;
}
.container4
{
    background: #e6ebee;
    display: flex;
    margin: ;
    flex-wrap: wrap;
    justify-content: center;
}
/*.container5 {*/
/*    background: #e6ebee;*/
/*    display: flex;*/
/*    margin: ;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/

/*}*/
.A {
    box-sizing: border-box;
    width: 2000px;
    height: 780px;
    /*flex-basis: 30px;*/
    background: #dadce0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    flex-wrap: wrap;
    flex-direction: row;

}

.B, .C, .D, .E, .F, .G {
    box-sizing: border-box;
    width: 500px;
    height: 780px;
    background: #dadce0;
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    flex-wrap: wrap;
}

/*.C {*/
/*    width: 500px;*/
/*    height: 780px;*/
/*    background: #dadce0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 500%;*/
/*    margin: 10px;*/
/*    flex-wrap: wrap;*/

/*}*/

/*.D {*/
/*    width: 500px;*/
/*    height: 780px;*/
/*    background: #dadce0;*/
/*    margin:10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 500%;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.E {*/
/*    width: 500px;*/
/*    height: 780px;*/
/*    background: #dadce0;*/
/*    margin: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 500%;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.F {*/
/*    width: 500px;*/
/*    height: 780px;*/
/*    background: #dadce0;*/
/*    margin:20px;*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 500%;*/
/*    flex-wrap: wrap;*/
/*    !*align-self: start;*!*/

/*}*/
/*.G {*/
/*    width: 500px;*/
/*    height: 780px;*/
/*    background: #dadce0;*/
/*    margin: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 500%;*/
/*    flex-wrap: wrap;*/
/*}*/
.H {
    width: 440px;
    height: 1550px;
    background: #dadce0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    flex-wrap: wrap;
}